<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
        <link rel="stylesheet" href={{url_for('static', filename='style.css')}} type="text/css" />
        <base target="_blank">
    </head>
    
    <body>
        <!--Song Title-->
        <div class="overArching">
        <h2>{{songName}}</h2>
        
        
        <!--Artist Name-->
        <!--String Concat Source: https://stackoverflow.com/questions/2061439/string-concatenation-in-jinja-->
        <h4>{{artistNames | join (", ")}}</h4>
        
        
        <!--Album Art-->
        <img src="{{imageLink}}" alt="Album art for song {{songName}}"></img>
        <!--Preview-->
        {% if songPreview == "None" %}
            <p>No Preview Available</p>
        {%else%}
            <figure>
                <audio controls src={{songPreview}}>
                    Your browser does not support the audio element.
                </audio>
            </figure>
        {%endif%}
        
        
        <!--Song and Lyric Link-->
        <div>
            <a href="{{songLink}}">Full Song</a>
            &emsp;
            <a href="{{lyricLink}}">Lyric Link</a>
        </div>
        
        </div>
    </body>
</html>